.youtube{
  position: relative;
  padding: 20px 0;

  a{
    width: fit-content;
    display: block;
    margin: 0 auto;
    font-size: 0;
    border: 1px solid $color-light-gray;

    img{
      width: 100%;
      max-height: 338px;
      aspect-ratio: 16/9;
      object-fit: cover;
    }

    &:hover~i{
      opacity: 1;
    }
  }

  i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    font-size: max(5vw, $font-size-large);
    transform: translate(-50%, -50%);
    transition: 0.5s;
    opacity: 0.5;
  }
}